services:
  librechat:
    container_name: chat-api
    image: ghcr.io/danny-avila/librechat-dev:latest
    restart: "no"
    networks:
      - database
      - genai
      - proxy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
      - .env.local
    volumes:
      - ${PROJ_DIR}/.env:/app/.env
      - ${DATA_DIR}/config.yaml:/app/librechat.yaml
      - ${DATA_DIR}/images:/app/client/public/images
      - ${DATA_DIR}/uploads:/app/uploads
      - ${DATA_DIR}/logs:/app/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.librechat.entrypoints=websecure"
      - "traefik.http.routers.librechat.rule=Host(`librechat.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.librechat.tls.certresolver=cloudflare"
      - "traefik.http.services.librechat.loadbalancer.server.port=${PORT}"
      - "homepage.group=Artificial Intelligence"
      - "homepage.name=LibreChat"
      - "homepage.icon=librechat.svg"
      - "homepage.href=https://chat.${TRAEFIK_ACME_DOMAIN}"
    deploy:
      resources:
        limits:
          memory: 1GB

  meilisearch:
    container_name: chat-search
    image: getmeili/meilisearch:v1.25.0
    restart: "no"
    environment:
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - MEILI_NO_ANALYTICS=true
    volumes:
      - ${DATA_DIR}/meili:/meili_data
    networks:
      - genai
    deploy:
      resources:
        limits:
          memory: 1GB

networks:
  database:
    external: true
  genai:
    external: true
  proxy:
    external: true
