services:
  stash:
    image: ghcr.io/feederbox826/stash-s6:hwaccel-alpine-develop
    container_name: stash
    restart: "no"
    networks:
      - proxy
    logging:
      driver: json-file
      options:
        max-file: 10
        max-size: 2m
    env_file:
      - stash.env
    volumes:
      - ${LOCAL_TIME}:${LOCAL_TIME}:ro
      - ${DATA_DIR}/blobs:/blobs
      - ${DATA_DIR}/cache:/cache
      - ${DATA_DIR}/config:/root/.stash
      - ${DATA_DIR}/config_s6:/config
      - ${DATA_DIR}/generated:/generated
      - ${DATA_DIR}/metadata:/metadata
      - ${MEDIA_DIR}:/media
    labels:
      # Traefik integration
      - "traefik.enable=true"
      - "traefik.http.routers.stash.entrypoints=websecure"
      - "traefik.http.routers.stash.rule=Host(`stash.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.stash.tls.certresolver=cloudflare"
      - "traefik.http.services.stash.loadbalancer.server.port=9069"
      # Homepage integration
      - "homepage.group=Media"
      - "homepage.name=StashApp"
      - "homepage.icon=stash.svg"
      - "homepage.href=https://stash.${TRAEFIK_ACME_DOMAIN}"
      - "homepage.description=Media Server for Cultured Material"
    devices:
      - nvidia.com/gpu=${GPU_ID}
    deploy:
      resources:
        limits:
          memory: 2G

networks:
  proxy:
    external: true
