# Ignored directories
**/__pycache__/
**/certs/
**/data/
**/mock/

# SSL/TLS certificates and keys
**/*.key
**/*.pem
**/*.crt

# Local environment files
**/*.env.local
**/*.env.secret
**/*.env.*.local
**/*.env.*.secret
