services:
  bifrost:
    image: maximhq/bifrost:v1.4.2-amd64
    container_name: bifrost
    restart: "no"
    env_file:
      - ./env/bifrost.env
      - ./env/bifrost.env.local
    networks:
      - database
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/app/data
    deploy:
      resources:
        limits:
          memory: 1GB
    labels:
      # Traefik integration
      - "traefik.enable=true"
      - "traefik.http.routers.bifrost.entrypoints=websecure"
      - "traefik.http.routers.bifrost.rule=Host(`bifrost.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.bifrost.tls.certresolver=cloudflare"
      - "traefik.http.services.bifrost.loadbalancer.server.port=8080"
      # Homepage integration
      - "homepage.group=Artificial Intelligence"
      - "homepage.name=Bifrost"
      - "homepage.icon=/icons/bifrost.png"
      - "homepage.href=https://bifrost.${TRAEFIK_ACME_DOMAIN}"

networks:
  database:
    external: true
  genai:
    external: true
  proxy:
    external: true
