services:
  pgvector:
    image: pgvector/pgvector:${PGVECTOR_TAG}
    container_name: db-pgvec
    userns_mode: host
    networks:
      - genai
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d
    environment:
      - DATA_DIR=${DATA_DIR}
      - PROJ_DIR=${PROJ_DIR}
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: postgres -c 'max_connections=200'

  qdrant:
    image: qdrant/qdrant:${QDRANT_TAG}
    container_name: db-qdrant
    networks:
      - genai
      - proxy
    ports:
      - ${QDRANT_HTTP_PORT}:${QDRANT_HTTP_PORT}
      - ${QDRANT_GRPC_PORT}:${QDRANT_GRPC_PORT}
    environment:
      - QDRANT__SERVICE__HTTP_PORT=${QDRANT_HTTP_PORT}
      - QDRANT__SERVICE__GRPC_PORT=${QDRANT_GRPC_PORT}
      - QDRANT__GPU__INDEXING=1
    volumes:
      - ${DATA_DIR}/qdrant:/qdrant/storage
    labels:
      # Traefik integration
      - "traefik.enable=true"
      - "traefik.http.routers.qdrant.entrypoints=websecure"
      - "traefik.http.routers.qdrant.rule=Host(`qdrant.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.qdrant.tls.certresolver=cloudflare"
      - "traefik.http.services.qdrant.loadbalancer.server.port=6333"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${GPU_ID}']
              capabilities: [gpu]

networks:
  genai:
    name: genai
    internal: true
  proxy:
    external: true
