services:
  tei-embedder:
    image: ghcr.io/huggingface/text-embeddings-inference:86-latest
    container_name: tei-embed
    restart: "no"
    env_file:
      - path: ./env/embed.env
        required: true
      - path: ./env/embed.env.local
        required: false
    networks:
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/data
    secrets:
      - hf_token
    devices:
      - nvidia.com/gpu=1
    deploy:
      resources:
        limits:
          memory: 12GB

  tei-reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:86-latest
    container_name: tei-rerank
    restart: "no"
    env_file:
      - path: ./env/rerank.env
        required: true
      - path: ./env/rerank.env.local
        required: false
    networks:
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/data
    secrets:
      - hf_token
    devices:
      - nvidia.com/gpu=1
    deploy:
      resources:
        limits:
          memory: 12GB

  tei-proxy:
    image: ghcr.io/delfianto/tei-proxy:latest
    container_name: tei-proxy
    restart: "no"
    env_file:
      - path: ./env/proxy.env
        required: true
      - path: ./env/proxy.env.local
        required: false
    networks:
      - genai
    deploy:
      resources:
        limits:
          memory: 128MB

networks:
  genai:
    external: true
  proxy:
    external: true

secrets:
  hf_token:
    file: ./secret/hf.secret
