services:
  tei-embedder:
    image: ghcr.io/huggingface/text-embeddings-inference:${HF_IMAGE_TAG}
    container_name: tei-embed
    restart: "no"
    env_file:
      - ./env/embed.env
    networks:
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/data
    secrets:
      - hf_token
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${GPU_ID}']
              capabilities: [gpu]

  tei-reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:${HF_IMAGE_TAG}
    container_name: tei-rerank
    restart: "no"
    env_file:
      - ./env/rerank.env
    networks:
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/data
    secrets:
      - hf_token
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${GPU_ID}']
              capabilities: [gpu]

  tei-proxy:
    image: ghcr.io/delfianto/rerank-proxy:latest
    container_name: tei-proxy
    restart: "no"
    env_file:
      - ./env/proxy.env
    networks:
      - genai
      - proxy

networks:
  genai:
    external: true
  proxy:
    external: true

secrets:
  hf_token:
    file: ./secret/hf.secret
