services:
  mongodb:
    image: mongo:8.2-noble
    container_name: mongodb
    restart: "no"
    env_file:
      - ./env/mongodb.env
      - ./env/mongodb.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:27017:27017
    volumes:
      - ${DATA_DIR}/mongo:/data/db
    deploy:
      resources:
        limits:
          memory: 2GB

  vchord:
    image: ghcr.io/tensorchord/vchord-postgres:pg18-v1.0.0
    container_name: vchord
    restart: "no"
    command: postgres -c "shared_preload_libraries=vchord" -c "max_connections=200"
    env_file:
      - ./env/vchord.env
      - ./env/vchord.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          memory: 2GB

  qdrant:
    image: qdrant/qdrant:v1.16-gpu-nvidia
    container_name: qdrant
    restart: "no"
    env_file:
      - path: ./env/qdrant.env
        required: true
      - path: ./env/qdrant.env.local
        required: false
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334
    volumes:
      - ${DATA_DIR}/qdrant:/qdrant/storage
    devices:
      - nvidia.com/gpu=${GPU_ID}
    deploy:
      resources:
        limits:
          memory: 4GB

networks:
  database:
    external: true
  proxy:
    external: true
