services:
  mongodb:
    image: mongo:${MONGODB_TAG}
    container_name: mongodb
    restart: "no"
    env_file:
      - ./env/mongodb.env
      - ./env/mongodb.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:27017:27017
    volumes:
      - ${DATA_DIR}/mongo:/data/db
    deploy:
      resources:
        limits:
          memory: 1GB

  pgvector:
    image: pgvector/pgvector:${PGVECTOR_TAG}
    container_name: pgvector
    restart: "no"
    command: postgres -c 'max_connections=200'
    env_file:
      - ./env/pgvector.env
      - ./env/pgvector.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          memory: 1GB

  qdrant:
    image: qdrant/qdrant:${QDRANT_TAG}
    container_name: qdrant
    restart: "no"
    env_file:
      - ./env/qdrant.env
      - ./env/qdrant.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334
    volumes:
      - ${DATA_DIR}/qdrant:/qdrant/storage
    devices:
      - nvidia.com/gpu=${GPU_ID}
    deploy:
      resources:
        limits:
          memory: 4GB

networks:
  database:
    external: true
  proxy:
    external: true
