services:
  mongodb:
    image: mongo:8.2-noble
    container_name: mongodb
    restart: "no"
    user: ${UID}:${GID}
    userns_mode: host
    env_file:
      - ./env/mongodb.env
      - ./env/mongodb.env.local
    networks:
      - database
    ports:
      - 27017:27017
    volumes:
      - ${DATA_DIR}/mongo:/data/db

  pgvector:
    image: pgvector/pgvector:${PGVECTOR_TAG}
    container_name: pgvector
    restart: "no"
    userns_mode: host
    command: postgres -c 'max_connections=200'
    env_file:
      - ./env/pgvector.env
      - ./env/pgvector.env.local
    networks:
      - database
    ports:
      - 5432:5432
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d

  qdrant:
    image: qdrant/qdrant:${QDRANT_TAG}
    container_name: qdrant
    restart: "no"
    env_file:
      - ./env/qdrant.env
      - ./env/qdrant.env.local
    networks:
      - database
      - proxy
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334
    volumes:
      - ${DATA_DIR}/qdrant:/qdrant/storage
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${GPU_ID}']
              capabilities: [gpu]

networks:
  database:
    external: true
  proxy:
    external: true
