services:
  mongodb:
    image: mongo:8.2-noble
    container_name: mongodb
    restart: on-failure:3
    user: ${UID}:${GID}
    userns_mode: host
    command: mongod --noauth
    env_file:
      - ./env/mongodb.env
    networks:
      - database
    ports:
      - 27017:27017
    volumes:
      - ${DATA_DIR}/mongo:/data/db

  pgvector:
    image: pgvector/pgvector:${PGVECTOR_TAG}
    container_name: pgvector
    restart: on-failure:3
    userns_mode: host
    command: postgres -c 'max_connections=200'
    env_file:
      - ./env/pgvector.env
    networks:
      - database
    ports:
      - 5432:5432
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d
    secrets:
      - pgvector

  qdrant:
    image: qdrant/qdrant:${QDRANT_TAG}
    container_name: qdrant
    restart: on-failure:3
    env_file:
      - ./env/qdrant.env
    networks:
      - database
      - proxy
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - ${DATA_DIR}/qdrant:/qdrant/storage
    labels:
      # Traefik integration
      - "traefik.enable=true"
      - "traefik.http.routers.qdrant.entrypoints=websecure"
      - "traefik.http.routers.qdrant.rule=Host(`qdrant.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.qdrant.tls.certresolver=cloudflare"
      - "traefik.http.services.qdrant.loadbalancer.server.port=6333"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${GPU_ID}']
              capabilities: [gpu]

networks:
  database:
    external: true
  proxy:
    external: true

secrets:
  pgvector:
    file: ./secret/pgvector.secret
