services:
  valkey:
    image: valkey/valkey:9-alpine
    container_name: valkey
    restart: "no"
    command: valkey-server --save 60 1 --loglevel notice
    networks:
      - database
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - ${DATA_DIR}/valkey:/data
    deploy:
      resources:
        limits:
          memory: 1GB

networks:
  database:
    external: true
