UID=1000
GID=1000

DATA_DIR=/srv/appdata/librechat
PROJ_DIR=/srv/compose/ai/librechat
SECRET_DIR=/srv/appdata/secret
TRAEFIK_ACME_DOMAIN=mydomain.com

#==================================================#
#               Server Configuration               #
#==================================================#

HOST=0.0.0.0
PORT=3080

MONGO_URI=mongodb://admin:$$MONGO_ROOT_PASSWORD@mongodb:27017/LibreChat?authSource=admin
NO_INDEX=true

POSTGRES_DB=librechat
POSTGRES_USER=chat

# Use the address that is at most n number of hops away from the Express application.
# req.socket.remoteAddress is the first hop, and the rest are looked for in the X-Forwarded-For header from right to left.
# A value of 0 means that the first untrusted address would be req.socket.remoteAddress, i.e. there is no reverse proxy.
# Defaulted to 1.
TRUST_PROXY=1

#===============#
# Debug Logging #
#===============#

DEBUG_LOGGING=true
DEBUG_CONSOLE=false

#============#
# OpenAI     #
#============#

DEBUG_OPENAI=false

TITLE_CONVO=true
OPENAI_TITLE_MODEL=gpt-4o-mini

OPENAI_SUMMARIZE=true
OPENAI_SUMMARY_MODEL=gpt-4o-mini

#============#
# Plugins    #
#============#

DEBUG_PLUGINS=false
SD_WEBUI_URL=http://host.docker.internal:7860

#==================================================#
#                      Search                      #
#==================================================#

SEARCH=true
MEILI_HOST=http://meilisearch:7700
MEILI_NO_ANALYTICS=true

#========================#
# Registration and Login #
#========================#

ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=true
ALLOW_SOCIAL_LOGIN=false
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_ACCOUNT_DELETION=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=true

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

#========================#
# Shared Links           #
#========================#

ALLOW_SHARED_LINKS=true
ALLOW_SHARED_LINKS_PUBLIC=true

#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE="Welcome to Arrakis"
CUSTOM_FOOTER="Bless the Maker and His water"
HELP_AND_FAQ_URL=https://librechat.ai
SHOW_BIRTHDAY_ICON=true

#===================================================#
#             Client and API Models                 #
#===================================================#

DOMAIN_CLIENT=https://chat.mydomain.com
DOMAIN_SERVER=https://chat.mydomain.com

ENDPOINTS=anthropic,openAI,google,custom
ANTHROPIC_MODELS=claude-haiku-4-5-20251001,claude-sonnet-4-5-20250929,claude-opus-4-1-20250805
OPENAI_MODELS=gpt-5.1,gpt-5.1-chat-latest,gpt-5.1-codex,gpt-5.1-codex-mini,gpt-5-pro,gpt-4.1,gpt-4.1-mini,gpt-4.1-nano,gpt-4o,gpt-4o-mini
GOOGLE_MODELS=gemini-2.5-flash,gemini-2.5-flash-lite,gemini-2.5-pro

# Google AI Studio Safety Settings
GOOGLE_SAFETY_SEXUALLY_EXPLICIT=BLOCK_NONE
GOOGLE_SAFETY_HATE_SPEECH=BLOCK_NONE
GOOGLE_SAFETY_HARASSMENT=BLOCK_NONE
GOOGLE_SAFETY_DANGEROUS_CONTENT=BLOCK_NONE
GOOGLE_SAFETY_CIVIC_INTEGRITY=BLOCK_NONE
