services:
  wait-for-all:
    image: jwilder/dockerize:latest
    container_name: open-webui-wait
    networks:
      - database
    command: >
      dockerize
      -wait tcp://${POSTGRES_HOST} -timeout 60s
    restart: "no"
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 32M

  open-webui:
    image: ghcr.io/open-webui/open-webui:latest-slim
    container_name: open-webui
    depends_on:
      wait-for-all:
        condition: service_completed_successfully
    networks:
      - database
      - genai
      - proxy
    volumes:
      - ${DATA_DIR}:/app/backend/data
    secrets:
      - open_webui_db
    env_file:
      - path: ./env/open-webui.env
        required: true
      - path: ./env/open-webui.env.local
        required: false
    environment:
      - CORS_ALLOW_ORIGIN=https://webui.${TRAEFIK_ACME_DOMAIN}
    labels:
      # Traefik integration
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.entrypoints=websecure"
      - "traefik.http.routers.open-webui.rule=Host(`webui.${TRAEFIK_ACME_DOMAIN}`)"
      - "traefik.http.routers.open-webui.tls.certresolver=cloudflare"
      - "traefik.http.services.open-webui.loadbalancer.server.port=8080"
      # Homepage integration
      - "homepage.group=Artificial Intelligence"
      - "homepage.name=Open WebUI"
      - "homepage.icon=open-webui.svg"
      - "homepage.href=https://webui.${TRAEFIK_ACME_DOMAIN}"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

secrets:
  open_webui_db:
    file: ./secret/db.secret

networks:
  database:
    external: true
  genai:
    external: true
  proxy:
    external: true
