# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Environments
.venv/
venv/
ENV/
env/
.env.local
*.local
*.secret
*.key
*.pem
*.crt
certs/
data/
global.env

# Unit test / coverage / cache
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.coverage
htmlcov/

# Editor-specific settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
