services:
  vchord:
    image: ghcr.io/tensorchord/vchord-postgres:pg18-v1.0.0
    container_name: vchord
    restart: "no"
    command: postgres -c "shared_preload_libraries=vchord" -c "max_connections=200"
    env_file:
      - ./vchord.env
    networks:
      - database
      - default
    ports:
      - 127.0.0.1:5432:5432
    secrets:
      - db_password
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/18/docker
      - ${PROJ_DIR}/initdb.d:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          memory: 1GB

networks:
  database:
    external: true

secrets:
  db_password:
    file: ${DATA_DIR}/db_password.txt
